@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #050d8a;
  --color-secondary: #d6e9ee;
  --color-accent: #288499;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.bg_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: url("../public/assets/Background.png");
  background-size: cover;
  color: white;
  @apply font-inter;
}

.section_padding {
  @apply px-12;
}

.blue_gradient {
  @apply bg-gradient-to-r from-white to-cyan-700;
}
